[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CTTShiny"]
	path = CTTShiny
	url = https://github.com/kylehamilton/cttshiny
[submodule "IRTShiny"]
	path = IRTShiny
	url = https://github.com/kylehamilton/irtshiny
[submodule "horsey"]
	path = horsey
	url = https://github.com/kylehamilton/horsey
[submodule "lavaan.shiny"]
	path = lavaan.shiny
	url = https://github.com/kylehamilton/lavaan.shiny
